@import "../app.scss";

.chatbot {

  #chat-button-container {
    position: fixed;
    bottom: 3%;
    right: 1%;
    z-index: 1010;
    display: flex;
    align-items: center;
    min-width: 250px;

    @include mobile {
      bottom: 2%;
    }
  }

  #chat-button,
  #bell-button {
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 16px;
    transition: background-color 0.3s ease;
    border-radius: 20px;
    margin-right: 10px;
  }

  #chat-button {
    background-color: #f0f0f0;
    color: var(--FONT-DARKGREEN-COLOR);
    z-index: 1005;
    // border: none;
    // cursor: pointer;
    // padding: 10px 20px;
    // border-radius: 20px;
    // font-size: 16px;
    // transition: background-color 0.3s ease;

    &:hover {
      background-color: var(--FONT-DARKGREEN-COLOR);
      color: #f0f0f0;
    }
  }

  #bell-button {
    background-image: url(/bell.png);
    background-color: transparent;
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    width: 70px;
    height: 60px;
    margin-left: 6px;
    padding: 10%;
    z-index: 1005;
    transition: transform 0.3s ease; // Add a smooth transition effect

    &:hover {
      transform: scale(1.2); // Zoom in 10% on mouse hover
    }
  }


  #chat-window {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 10px; // Make sure to leave space for the input area at the bottom of the window
    overflow: hidden; // Prevent Content Overflow Window
    position: fixed;
    bottom: 3%; // Adjust the height based on the chat button
    right: 2%;
    width: 20%;
    height: 58%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    z-index: 1001;

    #chat-header {
      background-color: var(--FONT-DARKGREEN-COLOR);
      color: white;
      padding: 3%;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      h3 {
        margin: 0;
      }

      #chat-avatar {
        width: 15%; // Width of avatar
        height: auto; // height of avatar
        border-radius: 50%; // circular avatar
        margin-right: 10px; // Spacing from title
      }

      #close-chat {
        background: none;
        border:none;
        color: white;
        cursor: pointer;
        font-size: 180%;
        width: 40px;
        align-items: center;
        justify-content: center;
        border-radius: 3px;

        &:hover {
          background-color: #464646;
        }

      }


    }

    // Add styles for the chat messages and input area
    // ...

    #chat-content {
      flex-grow: 1;
      overflow-y: auto;
      display: flex;
      flex-direction: column;
      padding: 10px;

      .message {
        max-width: 70%; // Limit the maximum width of the message box
        margin-bottom: 10px; // Spacing between messages
        padding: 10px; // Message internal padding
        border-radius: 20px; // Message box with rounded corners
        color: white; // text color

        &.sent {
          align-self: flex-end; // messages sent aligned to the right
          background-color: #007aff; // background color of the messages sent
        }

        &.received {
          align-self: flex-start; // received messages aligned to the left
          background-color: rgb(235, 235, 235); // background color of the messages received
          color: black; // change the text color of incoming messages for readability
        }
      }
    }


    #chat-input-container {
      margin-top: auto;
      display: flex;
      padding: 10px;
      align-items: center;
      width: 100%;
      height: 40px;

      #chat-input {
        flex-grow: 1; // Input box auto-fill remaining space
        margin-right: 10px; // Add spacing between the input box and the send button
        padding: 2%;
        border-radius: 5px;
        border: 1px solid #ccc;
      }

      // #send-message {
      //   padding: 5px 10px;
      //   background-color: #4CAF50;
      //   color: white;
      //   border: none;
      //   border-radius: 5px;
      //   cursor: pointer;


      //   &:hover {
      //     background-color: darken(#4CAF50, 10%);
      //   }
      // }

      #send-message {
        background-image: url('/send.png');
        background-color: transparent;
        background-repeat: no-repeat;
        background-size: contain;
        border: none;
        width: 50px;
        height: 50px;
        cursor: pointer;

        &:hover {
          transform: scale(1.1);
        }
      }
    }

    @keyframes shake {
      0%, 100% { transform: translateX(0); }
      10%, 30%, 50%, 70%, 90% { transform: translateX(-5px); }
      20%, 40%, 60%, 80% { transform: translateX(5px); }
    }
    
    .shake {
      animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
      transform: translate3d(0, 0, 0);
      backface-visibility: hidden;
      perspective: 1000px;
    }

    @include mobile {
      width: 75%;
      bottom: 1%;
    }
  }

}